html{
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4rem;
}

body{
  margin: 0;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

header{
  background-image: url("../images/glasses-bg.png");
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}

.banner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: white;
  background-color: cadetblue;
  width: 100%;
}

#logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo img{
  height: 1.5rem;
  margin-right: 1rem;
}

nav{
  display: flex;
  align-items: center;
}

nav a{
  margin-right: 2rem;
  color: white;
  text-decoration: none;
}

.motto{
  display: flex;
  background-color: white;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 10rem;
  margin-right: -2rem;
}

,main{
  display: flex;
  flex-direction: column;
}

#icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sicon{
  margin: 3rem 3rem;
  justify-content: space-between;
}

.sicon img{
  width: 3.5rem
}

#icons span{
  display: flex;
  flex-direction: column;
  height: 8rem;
}

.info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block{
  background-color: cadetblue;
  width: 10rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1.25rem
}

.info1 p{
  width: 35%;
  margin-top: 1rem;
  margin-right: 5%;
}

footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4rem 4rem;
  margin-top: 5rem;
  background-color: azure;
}

footer img{
  height: 1.5rem;
  padding-right: 1rem
}
